<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body style="margin:0;font-family:arial;background-color:#ffffff;color:#000000;padding:20px">
  <p>Greetings from {{app_name}},</p>

  <p>
    We received a request to reset the password for the {{app_name}} account associated with this e-mail address.
    Click the link below to reset your password using our secure server:
  </p>

  <p>
    <a href="{{url}}" style="color:#000000">{{url}}</a>
  </p>

  <p>
    If clicking the link doesn't work, you can copy and paste the link into your web browser’s address bar.
    You will be able to create a new password for your {{app_name}} account after clicking the link above.
  </p>

  <p>
    If you did not request to have your password reset, you can safely ignore this email.
    Rest assured your {{app_name}} account is safe.
  </p>

  <p>
    {{app_name}} will never email you and ask you to disclose or verify your password, credit card, or banking account number.
    If you receive a suspicious email with a link to update your account information, do not click on the link.
    Instead, report the e-mail to {{app_name}} for investigation.
  </p>

  <p>Thank you for using {{app_name}}.</p>

  <p>Sincerely,<br>The {{app_name}} Team</p>
</body>
</html>